/* Box Model Hack */

  
  /* Clear fix hack */
 
  

  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  *{
    padding: 0;
    margin: 0;
  }

  body {
    background: linear-gradient(to right, aqua, rgb(0, 40, 216));
     padding: 0%;
     margin: 0%;
  }

  h1, h2{
    text-align: center;
  }
 
  .reset{
    padding: 4% 0 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  #reset{
    font-size:1.5rem;
    background-color:aquamarine;
    color: black;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: 1em;
    cursor: pointer;
  }

  .parent {
    margin: 0 auto;
    max-width: 300px;
    display: grid;
    grid-gap: 7px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 33% 33% 33%; 
    grid-template-rows: 33% 33% 33%; 
  }

  .tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    cursor: pointer;
  }

  .parent > button {
    border: 1px solid black;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
  }

  .parent > button:hover {
    background-color: aliceblue;
  }

  .display{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 1em 0; 
  }

  .hide{
    display: none;
  }

 .playerX{
  color: red;
 }

 .playerO{
  color: blue;
 }
  
 
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header {
  
  }
  
  footer {
  
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  